.searchPage{
    flex: 0.8;
    background-color: #f9f9f9;
    padding: 20px;
}

.searchPage_filter{
    display: flex;
    align-items: center;
    color: #606060;
    font-size: xx-small !important;
}

.searchPage_filter > h2{
    margin-left: 10px;
}

.searchPage > hr{
    border: none;
    height: 1px;
    background-color: lightgray;
    margin: 10px 0px;
}